<head>
  <script
    src="https://kit.fontawesome.com/78a8c90d37.js"
    crossorigin="anonymous"
  ></script>

  <!-- This Index file is located inside the Views folder which is public.
     This file will hold my html code and also Bootstrap code.
     Author Yuri Braga 2017141
     Code extracted from https://github.com/mikhail-cct/CA1-In-class-Demo 
     BootStrap: https://github.com/BlackrockDigital/startbootstrap-bare -->

  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Allergen Chart Table</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
