h1 {
  color: black;
  margin-left: 20px;
}

#results tr:nth-child(even){background-color: #f7e5cb;}

#results tr:nth-child(even){background-color: #f5cf92;}

#results tr:hover {background-color: rgb(255, 219, 163);}

footer{
    color: white;
}
.selected {
            background-color: #dc3545;
            color: #FFF;
}

.view{
    background-image:url("/img/superfood.jpg");
     background-repeat: no-repeat; 
     background-size: cover; 
     background-position: center center;
     height: 100%;
     width:100%;
     position: absolute;
}

#main-content{
    background-color: rgb(242, 227, 206,0.9);
    width:100%;
    height:100%;
}

.buttons{
    display: flex;
    flex-direction: column;
}

#btn{
    margin-bottom: 2px;

}

.row{
    height: 100%;
}

.container{
 height: 78%;;
}

.form-group{
    display: flex;
    width: 85%;
}

.check-group{
    
}