h1 {
  color: black;
  margin-left: 20px;
}

.bg-dark {
  background-color: black !important;
}

#results tr:nth-child(even) {
  background-color: #f7e5cb;
}

#results tr:nth-child(even) {
  background-color: #f5cf92;
}

#results tr:hover {
  background-color: rgb(255, 219, 163);
}

footer {
  color: white;
}
.selected {
  background-color: #dc3545;
  color: #fff;
}

.view {
  background-image: url("/img/superfood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: fixed;
}

#main-content {
  background-color: rgb(242, 227, 206, 0.9);
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

#btn {
  margin-bottom: 2px;
  background: linear-gradient(
    0deg,
    rgba(160, 80, 33, 1) 0%,
    rgba(244, 185, 67, 0.7710434515603116) 100%
  );
}

.row {
  height: 100%;
}

.container {
  height: 78%;
}

.form-group {
  display: flex;
  width: 85%;
  padding-left: 149px;
  padding-top: 5px;
}

.table-row-odd {
  background-color: #ffc6a5;
}

#dish-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#dish-table td,
#dish-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dish-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#dish-table tr:hover {
  background-color: rgba(231, 133, 21, 0.801);
}

#dish-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: linear-gradient(
    0deg,
    rgba(206, 110, 56, 1) 0%,
    rgba(244, 185, 67, 0.7710434515603116) 100%
  );
  color: white;
}

#checkbox-delete:before {
  content: "\f1f8";
  font-family: "FontAwesome";
  background: "white";
  color: "black";
}
